@model Jonesie.Web.Module.Admin.Models.UserViewModel


@using (Html.BeginForm("SaveUser", "Security", FormMethod.Post))
{
  <fieldset>

    @Html.HiddenFor(m => m.IsNew)
    @Html.HiddenFor(m => m.Delete)
    @Html.HiddenFor(m => m.User.UserId)

    @if (Model.Delete)
    {
      <h4>Are you sure you wish to delete user @Model.User.UserName ?</h4>
    }
    else
    {

      <div class="control-group">
        @Html.LabelFor(m => m.User.UserName)
        <div class="controls">
          @Html.TextBoxFor(m => m.User.UserName, new { @class = "xxlarge" } )
          @Html.ValidationMessageFor(m => m.User.UserName)
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(m => m.User.Created)
        <div class="controls">
          @Html.TextBoxFor(m => m.User.Created, new { @readonly = true, @class="xlarge" })
        </div>
      </div>

      <div class="control-group">
        @Html.LabelFor(m => m.User.LastLogin)
        <div class="controls">
          @Html.TextBoxFor(m => m.User.LastLogin, new { @readonly = true, @class="xlarge" })
        </div>
      </div>

            <div class="control-group">
        @Html.LabelFor(m => m.User.Roles)
        <div class="controls">
          @Html.ListBoxFor(m => m.SelectedRoles, Model.RolesList)
        </div>
      </div>

    }

  </fieldset>
}

<script type="text/javascript">

  $(function () {
    $("input:text:visible:first").focus();

  });

</script>
